.container {
  display: flex;
  flex-direction: column;


  .form-control {
    width: 300px;
    height: 25px;
    border: 1px solid #706f6f;
    border-radius: 3px;
  }

  .strength-meter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 0 0 68px;
    width: 308px;
    height: 5px;

    > div {
      flex: 1;
      margin-left: 2px;
    }
  }
}

